@font-face{
	font-family:FontAwesome;
	src:url(fonts/fontawesome-webfont.eot?#iefix) format('eot'),
	url(fonts/fontawesome-webfont.woff) format('woff'),
	url(fonts/fontawesome-webfont.ttf) format('truetype'),
	url(fonts/fontawesome-webfont.svg#FontAwesome) format('svg');
	font-weight:400;font-style:normal;}

body
{
	width:100%;
	min-width:500px;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	height:inherit;
	background-color:azure

}

.showpanel
{
	width:50%;
	min-width:500px;
	margin-right:25%;
	margin-left:25%;
	border-color: #e2e2e2;
	border-radius: 2px;

}

.showpanel .panel-heading
{
	background: #39393d;
	color: #fff;
	padding: 5px 10px;
}
.add-entry-panel
{
	margin-right:25%;
	margin-left:25%;
	background-color:#39393d;
}

.add-entry-panel .panel-heading
{
	background: #39393d;
	color: #fff;
	padding: 5px 10px;
}

.panel-title
{
	font-size: 14px;
	line-height: 20px;
}
.panel-heading-controls
{
	margin-top: -2px;
	margin-bottom: -200px;
	float: right;
}
.btn-panel
{
	background-color:#64BF60;
	color:white;
	font-size: 11px;
	line-height: 12px;
	padding: 4px 7px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	margin: 0 5px;
	border:none;
}

.btn-panel:disabled
{
	background-color:#aaaaaa;
}
.btn-panel:hover,.btn-panel-big
{
	opacity: 0.9;
}

.btn-panel-big
{
	background-color: #39393d;
	color: white;
	font-size: 15px;
	line-height: 12px;
	padding: 6px 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	margin-top:10px;
	border: none;
}

.panel .panel-body
{
	background: beige;
	margin: 0;
	padding: 20px;
}
.panel .panel-body:before
{
	content: " ";
	display: table;
}
.panel .pabel-body .entry
{
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 -20px;
}



.severity
{
	right: 20px;
	display: block;
	position: relative;
	font-size: 11px;
	line-height: 20px;
	padding: 0 6px;
	float: right!important;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	width: 30%;
}
.severity-red
{
	color: #fff;
	background: #6a001b;
}
.severity-yellow
{
	color: #fff;
	background: #ffc818;
}
.severity-green
{
	color: #fff;
	background: #006a17;
}

.entry
{
	width:50%;
	background:#dad8c9;
	margin: 0 0 10 25%;
}

.entry-record
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.task-title
{
	color: #444;
	text-decoration: none;
	float: none;
	overflow: hidden;
	display: block;
	line-height: 21px;
}

.entry:after
{
	clear:both;
	content: " ";
	display: table;
}

.fadein,
.fadeout {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
	opacity: 0;
	display: block !important;
	height:0px;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
	display: block !important;
	height:0px;
}

.page-title
{
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	color:steelblue;
	text-align:center;
	min-width:500px;
	margin-right:25%;
	margin-left:25%;
}

.update-configuration
{
	padding: 10% 10%;
}

.form{
	background:beige;
	padding:20px;
}

.form ul{
	list-style:none;
	padding:0;
	margin:0;
}

.form li{
	display: block;
	padding: 9px;
	border:1px solid #2b2222;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form li:last-child{
	border:none;
	margin-bottom: 0px;
}

.form li > label{
	float: left;
	margin-top: -19px;
	background:beige;
	height: 14px;
	font-size: 14px;
}

.form input[type="text"],
.form select
{
	width: 100%;
	border: none;
}